.candidates-page {
  padding: 20px;
  text-align: center;
  color: white;
}

.candidates-container {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  justify-content: center;               
  gap: 20px;                     
  margin: 10px auto;  
}

@media (max-width: 1200px) {
  .candidates-container {
    grid-template-columns: repeat(4, 220px);
  }
}

@media (max-width: 900px) {
  .candidates-container {
    grid-template-columns: repeat(3, 220px);
  }
}
@media (max-width: 600px) {
  .candidates-container {
    grid-template-columns: repeat(2, 220px);
  }
}

.candidate-card {
  width: 200pxpx; 
  height: 300px;
  background: #1a1a1a;
  border-radius: 12px;
  border: 2px solid white;
  padding: 15px;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(246, 245, 245, 0.758);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.candidate-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.candidate-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.candidate-skills {
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}

.candidate-stage {
  font-size: 14px;
  margin-bottom: 10px;
}

.resume-link {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  color: rgb(232, 116, 13);
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
}

.resume-link:hover {
  background: #000000;
}
