.jobs-container {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  justify-content: center;   
  gap: 20px;         
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .jobs-container {
    grid-template-columns: repeat(3, 280px);
  }
}


@media (max-width: 900px) {
  .jobs-container {
    grid-template-columns: repeat(2, 280px);
  }
}


@media (max-width: 600px) {
  .jobs-container {
    grid-template-columns: repeat(1, 280px);
  }
}

.job-card {
  position: relative;   
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  width: 270px;    
  height: 420px;  
  background : #1a1a1a; 
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 3px 6px 6px rgba(252, 252, 252, 0.838);
  box-sizing: border-box;
}

.job-card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.job-card-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 3px;       
  width: auto;
  margin-right: 10px;;

}


.job-card-options {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  
}

.job-card-menu:hover .job-card-options {
  display: block;
}

.job-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
}

.job-details{
    color: #aba3a3;
}
.job-footer{
    color: white;
}